<!-- Our Articles -->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Featured News -->
            <div class="col-sm-6 featured-news">
                <h2>Latest Blog Posts</h2>
                {% for blog in blogs %}
                <div class="row">
                    <div class="col-xs-4"><a href="#"><img src="{{ asset('uploads/img/'~blog.image) }}" alt="{{blog.title}}"></a></div>
                    <div class="col-xs-8">
                        <div class="caption"><a href="#">{{blog.title}}</a></div>
                        <div class="date">{{blog.date|date('D F, Y')}} </div>
                        <div class="intro">{{ blog.description|slice(0,100)}}...<a href="#">Read more...</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- End Featured News -->
            <!-- Latest News FB -->
            <div class="col-sm-6 latest-news">
                <h2>Lastest FaceBook/Twitter News</h2>
                {% for new in news %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="#">{{new.title}}.</a></div>
                        <div class="date">{{new.date|date('D F, Y')}} </div>
                        <div class="intro">{{ new.description|slice(0,100) }}...<a href="#">Read more...</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- End Featured News -->
        </div>
    </div>
</div>