<div class="col-sm-4 blog-sidebar">
    <h4>{% trans %}Derniére Blogs{% endtrans %}</h4>
    <ul class="recent-posts">
        {% for post in posts %}
            <li><a href="{{ path('app_blog_show',{id:post.id,slug:post.slug}) }}">{{ post.name.getContent(app.request.locale) }}</a></li>
        {% endfor %}
    </ul>
    <h4>{% trans %}Categories{% endtrans %}</h4>
    <ul class="blog-categories">
        {% for category in categories %}
            <li><a href="{{ path('app_category_show'~app.request.locale ,{id:category.id,slug:category.slug}) }}">{{ category.name.getContent(app.request.locale) }}</a></li>
        {% endfor %}
    </ul>
    <h4>Tags</h4>
    <ul class="blog-categories">
        {% for tag in tags %}
            <li><a href="{{ path('app_tag_show',{id:tag.id,slug:tag.slug}) }}">{{tag.name.getContent(app.request.locale) }}</a></li>
        {% endfor %}
    </ul>
</div>