{% extends 'base.html.twig' %}
{% block title %}Blogs{% endblock %}
{% block body %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>nos Blogs</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                <!-- Blog Post Excerpt -->
                <div class="col-sm-6">
                    <div class="blog-post blog-single-post">
                        <div class="single-post-title">
                            <h2>{{blog.name.content}}</h2>
                        </div>
                        <div class="single-post-image">
                            <img src="{{asset('uploads/img/'~blog.image)}}" alt="{{blog.name.content}}">
                        </div>
                        <div class="single-post-info">
                            <i class="glyphicon glyphicon-time"></i>{{blog.date|date('d F , Y')}} <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>{{blog.comments}}</a>
                        </div>
                        <div class="single-post-content">
                            <p>{{blog.suiteText.content|slice(0,555)}}</p>
                            <a href="{{path('app_blog_show',{id:blog.id,slug:blog.slug})}}" class="btn">la suite</a>
                        </div>
                    </div>
                </div>
                <!-- End Blog Post Excerpt -->
                {% endfor %}
                <!-- Pagination -->
                <div class="pagination-wrapper ">
                    <ul class="pagination pagination-sm">
                        <li class="disabled"><a href="#">Previous</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
