{% extends 'base.html.twig' %}
{% block title %}{% trans %}Blogs{% endtrans %}{% endblock %}
{% block body %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{% trans %}Nos Blogs{% endtrans %}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                {% for blog in blogs%}
                <!-- Blog Post Excerpt -->
                <div class="col-sm-6">
                    <div class="blog-post blog-single-post">
                        <div class="single-post-title">
                            <h2>{{blog.name.getContent(app.request.locale)}}</h2>
                        </div>
                        <div class="single-post-image">
                            <img src="{{asset('uploads/img/'~blog.image)}}" alt="{{blog.name.getContent(app.request.locale)}}">
                        </div>
                        <div class="single-post-info">
                            <i class="glyphicon glyphicon-time"></i>{{blog.date|date('d F , Y')}} <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>{{blog.comments}}</a>
                        </div>
                        <div class="single-post-content">
                            <p>{{blog.suiteText.getContent(app.request.locale)|slice(0,555)}}</p>
                            <a href="{{path('app_blog_show',{id:blog.id,slug:blog.name.getSlug(app.request.locale)})}}" class="btn">{% trans %}la suite{% endtrans %}</a>
                        </div>
                    </div>
                </div>
                <!-- End Blog Post Excerpt -->
                {% if loop.index == 2 %}</div><div class="row"> {% endif %}
                {% endfor %}
                <!-- Pagination -->
                <div class="pagination-wrapper ">

                </div>
            </div>
            <div class="pagination-wrapper ">
                {{ knp_pagination_render(blogs) }}
            </div>

        </div>
    </div>
{% endblock %}
