{% extends 'base.html.twig' %}
{% block title %}{% trans %}Tag{% endtrans %}-{{ tag.name.getContent(app.request.locale) }}{% endblock %}
{% block body %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{% trans %}Details d'une tag{% endtrans %}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <!-- Product Image & Available Colors -->
                <div class="col-sm-6">
                    <div class="product-image-large">
                        <img src="{{asset('uploads/img/'~tag.image)}}" alt="{{tag.name.getContent(app.request.locale)}}">
                    </div>
                    <div class="colors">
                        <span class="color-white"></span>
                        <span class="color-black"></span>
                        <span class="color-blue"></span>
                        <span class="color-orange"></span>
                        <span class="color-green"></span>
                    </div>
                </div>
                <!-- End Product Image & Available Colors -->
                <!-- Product Summary & Options -->
                <div class="col-sm-6 product-details">
                    <h2>{{tag.name.getContent(app.request.locale)}}</h2>
                    <h3></h3>
                    <p>{{ tag.description.getContent(app.request.locale) }}</p>
                    <h3>{% trans %}Details de tag{% endtrans %}</h3>
                    <p><strong>{% trans %}Date{% endtrans %}: </strong>{{tag.date|date('d F ,Y')}}</p>
                    <p><strong>{% trans %}works{% endtrans %}: </strong>
                        {% for work in tag.works %}
                            <a href="{{ path('app_work_show.'~app.request.locale ,{id:work.id,slug:work.name.getSlug(app.request.locale) }) }}">{{work.name.getContent(app.request.locale)}}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ render(controller('App\\Controller\\WorkController::similarWorks',{'entity':tag.works.first,'route':app.request.attributes.get('_route')})) }}
{% endblock %}
